dagit==0.11.15
dagster==0.11.15
dagster-k8s==0.11.15
dagster-docker==0.11.15
dagster-graphql==0.11.15
dagster-postgres==0.11.15
pandas
alembic
basedosdados==1.5.5a2
openpyxl
xlrd
loguru
gtfs_kit
rgtfs==0.1.1a0
numpy==1.20.1
pandas==1.2.4
traitlets==5.0.5
redis-pal>=0.1.4