[Unit]
Description=Watchdog Service for Qualimeter

[Service]
WorkingDirectory=/home/pi/GIT_REPOS/qualimeter/python_services/watchdog
ExecStart=/usr/bin/python3 /home/pi/GIT_REPOS/qualimeter/python_services/watchdog/watchdog_service.py
Type=idle
Environment=PYTHONUNBUFFERED=1
Restart=always
User=root

[Install]
WantedBy=default.target
